@model IEnumerable<Sport>

@{
    ViewData["Title"] = "Sports";
}

<h1>@ViewBag.Title</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">+ Sport</a>
</p>
<div class="container">
    <div class="row d-flex justify-content-center">
        @if (Model.Any())
        {
            foreach (var sport in Model)
            {
                <div class="col-3 card text-center">
                    <h5>@sport.Name</h5>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <a class="text-primary" asp-controller="Sports" asp-action="Edit" asp-route-id="@sport.Id">Edit</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="text-info" asp-controller="Shifts" asp-action="Index" asp-route-sport="@sport.AspRouteParameter">View Shifts</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <a class="text-danger" asp-controller="Sports" asp-action="Delete" asp-route-id="@sport.Id">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <h5 class="text-danger">You haven't created any sports yet. <a asp-action="Create">Create one now.</a></h5>
        }
    </div>
</div>